{% extends 'todolists/template.html' %}
{% block main_content %}
<h3>สิ่งที่ต้องทำ</h3>
<div class="row text-left">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    {% if undotask %}
        {% for task in undotask %}
            <div class="form-check" id="undotaskG">
                <input type="checkbox" name="task" id="undotask{{ forloop.counter }}" value="{{ task.id }}" class="form-check-input">
                <label for="undotask{{ forloop.counter }}" class="form-check-label">{{ task.taskname }}</label>
            </div>
        {% endfor %}
    {% else %}
        <p>Don't have Task</p>
    {% endif %}
    </div>
    <div class="col-sm-4">
        <form action="{% url 'todolists:Addtask' %}" method="post">
            {% csrf_token %}
            <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control" name="addtask" id="addtask">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit" id="addtaskBT">เพิ่ม</button>
                </div>
            </div>
        </form>

    </div>
</div>

<h3>ทำสำเร็จแล้ว</h3>
<div class="row text-left">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    {% if dotask %}
        {% for task in dotask %}
            <div class="form-check" id="dotask">
                <input type="checkbox" name="task" id="dotask{{ forloop.counter }}" value="{{ task.id }}" checked disabled class="form-check-input">
                <label for="dotask{{ forloop.counter }}" class="form-check-label"><s>{{ task.taskname }}</s></label>
            </div>
        {% endfor %}
    {% else %}
        <p>Don't have Task</p>
    {% endif %}
    </div>
    <div class="col-sm-4"></div>
</div>

{% endblock %}