<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center" style="background-color: papayawhip">
{% include "todolists/header.html" %}

{% block main_content %}
{% endblock %}

{% include "todolists/footer.html" %}
</div>
<script>
$(document).ready(function(){
  $(":checkbox").click(function(){
      var id = this.value;
      console.log(this.value);
      $.ajax({
          type: 'GET',
          url: "dotask",
          data: {taskid: id},
          success: function (result) {
              console.log(result);
              if (result == "Success"){
                  window.location.reload(true);
              }
              else {
                  alert("เกิดข้อผิดพลาด กรุณาลองให่ม่อีกครั้ง")
                  window.location.reload(true);
              }
          }
      })
  })
});
</script>
</body>
</html>